@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

:root {
    --vermelho: #96121d;
    --laranja: #cd5326;
    --amarelo: #f8a73e;
    --verde: #016f3c;
    --verde-escuro: #032415;

    --alto-contraste-fundo: #071430;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #a2cfe1;
 }

body {
    font-size: 1rem;
    font-family: 'MedievalSharp';
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #f8a73e;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--laranja);
}

.inicio-fundo {
    background-image: url('img/Fundo.png');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}


/* Imagem - Escultura (à direita) */
.img-inicio {
    position: absolute;
    right: 0;
    top: 15rem;
    width: 28rem;
    height: auto;
    margin-right: 10%;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja);
    border-radius: 30px;
    border: none;
    width: 18em;
    height: 3em;
    align-content: center;

}

.botao-inicio:hover, .formulario button:hover, .alto-contraste .btn-primary:hover {
    background-color: var(--amarelo);
    color: var(--laranja);
}

.display-4 {
    color: var(--amarelo);
    text-shadow: -5px 5px var(--laranja);
}


#medieval {
    position: relative;
    padding-top: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    background: url('img/Canto2.png') top right no-repeat, 
    url('img/Canto1.png') bottom left no-repeat;
    background-size: 200px 200px;
}

#medieval .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#generos {
    position: relative;
    padding-top: 5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    background: url('img/Canto4.png') top right no-repeat, 
    url('img/Canto3.png') bottom left no-repeat;
    background-size: 200px 200px;
}

#generos .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.col-5 .Destaque {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--laranja);
}


h2 {
    font-family: 'Eagle Lake', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja);
}

#contato {
    background-image: url('img/Fundo.png');
    background-size: cover;
    border-radius: 80px;
    padding: 5rem 0;
}

.formulario {
    background-color: var(--vermelho);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario .mb-3, label {
    color: var(--amarelo);
}

.formulario button {
    background-color: var(--laranja);
    border: none;
    font-weight: bold;
}

footer p {
    font-weight: bold;
}


/* Botão de Acessiblidade e Opções */
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

#botao-acessibilidade {
    text-transform: uppercase;
    background-color: var(--verde);
    color: var(--verde-escuro);
    border: none;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    background-color: var(--verde);
    color: var(--verde-escuro);
    margin-bottom: 5px;
    border: none;
}

.opcoes-acessibilidade button:hover{
    background-color: var(--verde-escuro);
    color: var(--amarelo);
}

.apresenta-lista{
    display: none;
}


/* Botão de Alto-Contraste */
.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste footer {
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--amarelo);
}

.alto-contraste .nav-link:hover {
    color: var(--laranja);
}

.alto-contraste .col-5 .Destaque {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--amarelo);
}

.alto-contraste .col-5 .Destaque {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--amarelo);
}

.alto-contraste .col-5 h2 {
    color: var(--amarelo);
}

.alto-contraste .col-5 a {
    color: var(--alto-contraste-link);
}